{% include 'saw_product_variables' %}
{% comment %}
It may be a good idea to provide a theme setting that lets a merchant decide how many products to show per row
on collection pages. Or, it may be a good idea to provide a control on the store front which lets a shopper decide
whether items be presented in a grid or in a list.
That information about the presentation can be passed on to the product-grid-item.liquid snippet via the 'with' argument.
Use of the 'with' argument is explained here: http://docs.shopify.com/themes/theme-templates/snippets.
The information can then be referred to by accessing the variable which goes by the same name as the snippet,
in this case product-grid-item. If the 'with' argument is not used, the snippet variable is set to an empty string.
Here, for the sake of teaching, we will use 2 presentation options:
- 3 products per row, when passing the value 'three-per-row' to the snippet
- 4 products per row, when passing the value 'four-per-row' to the snippet
{% endcomment %}

{% comment %}If no value is passed to the snippet, we will set the snippet variable to a sensible default.{% endcomment %}
{% if product-grid-item == '' %}{% assign product-grid-item = 'four-per-row' %}{% endif %}

{% comment %}Is this product on sale?{% endcomment %}
{% assign on_sale = false %}
{% if WCProductComparePrice > WCProductPrice %}

{% assign on_sale = true %}
{% endif %}

<div class="layout-row {{ product-grid-item }}{% unless product.available %} sold-out{% endunless %}{% if on_sale %} on-sale{% endif %}{% if product-grid-item == 'four-per-row' %}{% cycle 'last': '', '', '', ' last-in-row' %}{% elsif product-grid-item == 'three-per-row' %}{% cycle 'last': '', '', ' last-in-row' %}{% endif %}">
    <div class="layout-cell">
        <a class="part-number" href="{{ product.url | within: collection }}">
            <img src="{{ product | img_url: '67x67', crop: 'center' }}" alt="{{ product.featured_image.alt | escape }}" />
            <div class="code">{{current_variant.sku}}</div>
        </a>
    </div>
    <div class="layout-cell hidden-xs">
        <div class="description">{{product.description}}</div>
    </div>
    <div class="layout-cell hidden-xs">
        <div class="supplier">
            {{ product.vendor }}
        </div>
    </div>
    <div class="layout-cell">
        <div class="price">
            <div class="line">
                <div class="left hidden">1</div>
                <div class="right">{{ WCProductPrice | money }}</div>
            </div>
        </div>
    </div>
    <div class="layout-cell">
        <div class="Quantity">
            <input type="number" name="myInput" value="0" min="0" max="100" step="1">
        </div>
    </div>
    <div class="layout-cell hidden-xs">
        {% assign product_qty = 0 %}
        {% for variant in product.variants %}
          {% if variant.inventory_quantity > 0 %}
            {% assign product_qty = product_qty | plus: variant.inventory_quantity %}
          {% endif %}
        {% endfor %}
        <div  class="availability">{{ product_qty }} in stock</div>
    </div>
    <div class="layout-cell visible-xs">
        <div class="description">{{product.description}}</div>
        <div class="content-buttom">
            <button>Add to cart</button>
        </div>
    </div>
</div>