{% include 'saw_product_variables' %}
<section class="home-section {{className}}" id={{className}}>
  <div class="content">
    <h1 class="title">{{title}}</h1>
    <div class="products-content">
      {% for product in collection.products limit:limitItems %}
      {% assign variant = product.variants[0] %}
{% include 'saw_variant_variables' %}
      <a class="product" href="{{product.url}}">
        <div class="product-content">
          <div class="product-picture">
            <img src="{{ product | img_url:'180x180', crop: 'center' }}" alt="">
          </div>
          <div class="product-title">{{product.title }}</div>
          <div class="product-price">{{ WCProductPrice | money }}</div>
          <div class="product-sku" style="text-transform: uppercase">SKU: {{ product.selected_or_first_available_variant.sku }}</div>
          
          {% assign product_qty = 0 %}
          {% for variant in product.variants %}
            {% if variant.inventory_quantity > 0 %}
              {% assign product_qty = product_qty | plus: variant.inventory_quantity %}
            {% endif %}
          {% endfor %}

          {% if product_qty == 0 %}
            <div style="color: red;" class="product-existences availability">Stock: {{ product_qty }}</div>
          {% else %}
            <div style="color: green;" class="product-existences availability">Stock: {{ product_qty }}</div>
          {% endif %}
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>