<section class="suppliers">
    <div class="content">
        <div class="supplier">
            <div class="text">
                ORGULLOSAMENTE
                LOS MEJORES PROVEEDORES:
            </div>
        </div>
        <div class="supplier">
          <a href="http://www.cooperindustries.com/content/public/en/bussmann.html" target="_blank">
            <img class="img-responsive" src="{{ 'icon-bussmann.png' | asset_url }}" alt="Bussmann"/>
          </a>
        </div>
        <div class="supplier">
          <a href="http://www.eaton.mx/EatonMX/index.htm" target="_blank">
            <img class="img-responsive" src="{{ 'icon-eaton.png' | asset_url }}" alt="EATON"/>
          </a>
        </div>
        <div class="supplier">
          <a href="https://new.abb.com/mx" target="_blank">
            <img class="img-responsive" src="{{ 'icon-abb.png' | asset_url }}" alt="ABB"/>
          </a>
        </div>
        <div class="supplier">
          <a href="https://www.findernet.com/es/mexico" target="_blank">
            <img class="img-responsive" src="{{ 'icon-finder.png' | asset_url }}" alt="FINDER"/>
          </a>
        </div>
      	<div class="supplier">
          <a href="http://www.legrand.es/" target="_blank">
            <img class="img-responsive" src="{{ 'icon-legrand.jpg' | asset_url }}" alt="LEGRAND"/>
          </a>
        </div>
      	<div class="supplier">
          <a href="http://www.weidmuller.com.mx/91501/Home/cw_start_v2.aspx" target="_blank">
            <img class="img-responsive" src="{{ 'icon-viedmuller.png' | asset_url }}" alt="VIEDMULLLER"/>
          </a>
        </div>
      	<div class="supplier">
          <a href="https://www.siemens.com/mx/es/home.html" target="_blank">
            <img class="img-responsive" src="{{ 'icon-siemens.png' | asset_url }}" alt="SIEMENS"/>
          </a>
        </div>
      	<div class="supplier">
          <a href="http://time-mark.com/" target="_blank">
            <img class="img-responsive" src="{{ 'icon-timemark.png' | asset_url }}" alt="MARK"/>
          </a>
        </div>
      <div class="supplier">
        <a href="https://www.bernstein.eu/en/" target="_blank">
            <img class="img-responsive" src="{{ 'icon-bernstein.png' | asset_url }}" alt="BERNSTEIN"/>
        </a>
      </div>
      <div class="supplier">
        <a href="http://www.moeller.com.mx/" target="_blank">
            <img class="img-responsive" src="{{ 'icon-moeller.png' | asset_url }}" alt="MOELLER"/>
        </a>
      </div>
      <div class="supplier">
        <a href="https://www.micron.com/" target="_blank">
            <img class="img-responsive" src="{{ 'icon-micron.png' | asset_url }}" alt="MICRON"/>
        </a>
      </div>
      <div class="supplier">
        <a href="https://www.fluke.com/es-mx" target="_blank">
            <img class="img-responsive" src="{{ 'icon-fluke.png' | asset_url }}" alt="FLUKE"/>
        </a>
      </div>
      <div class="supplier">
        <a href="https://www.eldon.com/es-MX/" target="_blank">
            <img class="img-responsive" src="{{ 'icon-eldon.png' | asset_url }}" alt="ELDON"/>
        </a>
      </div>
      <div class="supplier">
        <a href="http://www.sgeterminals.com/" target="_blank">
            <img class="img-responsive" src="{{ 'icon-sge.jpg' | asset_url }}" alt="SGE"/>
        </a>
      </div>
      <div class="supplier">
        <a href="https://www.auersignal.com/es/" target="_blank">
            <img class="img-responsive" src="{{ 'icon-auer.png' | asset_url }}" alt="AUER"/>
        </a>
      </div>
      <div class="supplier">
        <a href="http://www.amprobe.com/amprobe/usen/home/default" target="_blank">
            <img class="img-responsive" src="{{ 'icon-amprobe.png' | asset_url }}" alt="AMPROBE"/>
        </a>
      </div>
      <div class="supplier">
        <a href="http://www.china-pneumatic.com/" target="_blank">
            <img class="img-responsive" src="{{ 'icon-xcpc.png' | asset_url }}" alt="China Pneumatic"/>
        </a>
      </div>
      <div class="supplier">
        <a href="https://www.lovatoelectric.com/default.aspx?lovatoglobal=1" target="_blank">
            <img class="img-responsive" src="{{ 'image001.png' | asset_url }}" alt="lovato electric"/>
        </a>
      </div>
      
    </div>
</section>